<!DOCTYPE html>
<html>

<head>
  <title>Covid</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
  
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.3.13/vuetify.min.css">

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.3.13/vuetify.js"></script>
  <style>	
		[v-cloak] { display: none; }
  </style>
</head>

<body>

  <div id="app" v-cloak>
    <v-app>

      <!--=================================-->
      <!--Title Bar-->
      <!--=================================-->
      <v-app-bar class="grey darken-2 white--text" app>
        <v-toolbar-title>COVID-19</v-toolbar-title>

        <v-divider class="mx-4" vertical></v-divider>

        <span class="subheading">Denton County Hospitals</span>
      </v-app-bar>

      <v-main class="grey lighten-3 pl-4 pr-4">

        <v-container fluid>

          <!--=================================-->
          <!--Disclaimer-->
          <!--=================================-->
          <v-alert dense color="grey darken-2" dark outlined>
            <small>Data is from the <a style="color:black;"
                href="https://gis-covid19-dentoncounty.hub.arcgis.com/pages/covid-19cases" target="_blank">Denton County
                Health Department Covid-19 dashboard</a>. The latest data is from <b>{{latest.report_date}}</b>.</small>
          </v-alert>

          <!--=================================-->
          <!--Metric Cards-->
          <!--=================================-->
          <v-row>

            <!--=================================-->
            <!--ICU Percent Occupied Total-->
            <!--=================================-->
            <v-col cols="12" md="2">

              <v-card class="mx-auto indigo" dark max-width="400">
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-title class="headline">
                      ICU Beds
                    </v-list-item-title>
                    <v-list-item-subtitle> (TOTAL % OCCUPIED)</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <v-card-text style="padding-top:0;">
                  <v-row align="center">
                    <v-col class="display-3" cols="12">
                      {{latest.icu_beds_occupancy_rate}}
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="" cols="12">
                      Total Beds: {{latest.icu_beds_occupied}} of {{latest.icu_total}} Occupied
                      <br> <small><i>{{latest.report_date}}</i></small>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-col>

            <!--=================================-->
            <!--ICU Percent Occupied COVID-->
            <!--=================================-->
            <v-col cols="12" md="2">

              <v-card class="mx-auto indigo" dark max-width="400">
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-title class="headline">
                      ICU Beds (COVID)
                    </v-list-item-title>
                    <v-list-item-subtitle> (% OCCUPIED BY COVID CASES)</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <v-card-text style="padding-top:0;">
                  <v-row align="center">
                    <v-col class="display-3" cols="12">
                      {{latest.icu_covid_rate}}
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="" cols="12">
                      Covid Beds: {{latest.icu_covid_19_census}} of {{latest.icu_total}}
                      <br> <small><i>{{latest.report_date}}</i></small>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>

            </v-col>

            <!--=================================-->
            <!--Ventilators-->
            <!--=================================-->
            <v-col cols="12" md="2">

              <v-card class="mx-auto indigo" dark max-width="400">
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-title class="headline">
                      Ventilators
                    </v-list-item-title>
                    <v-list-item-subtitle> (% IN USE)</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <v-card-text style="padding-top:0;">
                  <v-row align="center">
                    <v-col class="display-3" cols="12">
                      {{latest.ventilator_usage_rate}}
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="" cols="12">
                      Ventilators In Use: {{latest.ventilators_in_use}} of {{latest.ventilators_available}}
                      <br> <small><i>{{latest.report_date}}</i></small>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>

            </v-col>

            <!--=================================-->
            <!--New Denton County Cases-->
            <!--=================================-->
            <v-col cols="12" md="2">

              <v-card class="mx-auto indigo" dark max-width="400">
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-title class="headline">
                      New Daily Cases
                    </v-list-item-title>
                    <v-list-item-subtitle> (DENTON COUNTY)</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <v-card-text style="padding-top:0;">
                  <v-row align="center">
                    <v-col class="display-3" cols="12">
                      {{latestDentonCountyNewCases.caseCount}}
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="" cols="12">
                      <!--Previous day's new cases: {{previousDentonCountyNewCases.caseCount}}-->
                      <br> <small><i>{{latestDentonCountyNewCases.report_date}}</i></small>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>

            </v-col>

            <!--=================================-->
            <!--Active Denton County Cases-->
            <!--=================================-->
            <v-col cols="12" md="2">

              <v-card class="mx-auto indigo" dark max-width="400">
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-title class="headline">
                      Active
                    </v-list-item-title>
                    <v-list-item-subtitle> (DENTON COUNTY CASES)</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <v-card-text style="padding-top:0;">
                  <v-row align="center">
                    <v-col class="display-3" cols="12">
                      {{latestDentonCountyActiveCases}}
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="" cols="12">
                      Percent Infected: {{ latestDentonCountyActiveCases ? ((parseInt(latestDentonCountyActiveCases.replace(",","")) / 915673) * 100).toFixed(1) + "%" : '-'}} of 915,673
                      <br> <small><i>{{latest.report_date}}</i></small>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>

            </v-col>

            <!--=================================-->
            <!--GA-32 Metric-->
            <!--=================================-->
            <v-col cols="12" md="2">

              <v-card class="mx-auto indigo" dark max-width="400">
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-title class="headline">
                      TSA E - Daily Covid %
                    </v-list-item-title>
                    <v-list-item-subtitle> (% OCCUPIED BY COVID CASES)</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <v-card-text style="padding-top:0;">
                  <v-row align="center">
                    <v-col class="display-3" cols="10">
                      {{latest.tsa}}
                    </v-col>
                    <v-col cols="2">
                      <v-icon :color="getColor(latest.tsa)">
                        stop_circle
                      </v-icon>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="" cols="12">
                      <small><a style="color: white;"
                          href="https://gov.texas.gov/uploads/files/press/EO-GA-32_continued_response_to_COVID-19_IMAGE_10-07-2020.pdf">Exec
                          Order GA-32</a> (15% Threshhold)</small>
                      <br> <small><i>{{latest.report_date}}</i></small>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>

            </v-col>

          </v-row>

          <!--=================================-->
          <!--Table of historical data-->
          <!--=================================-->
          <v-row class="mt-6">
            <v-col cols="12" md="12" sm="12">

              <!--Loading indicator-->
              <v-dialog v-model="dialog" hide-overlay persistent width="300">
                <v-card color="primary" dark>
                  <v-card-text class="pt-3">
                    Getting data from Department of Health and Human Services...
                    <v-progress-linear indeterminate color="white" class="ma-3"></v-progress-linear>
                  </v-card-text>
                </v-card>
              </v-dialog>


              <!--Table-->
              <v-data-table v-if="stats.length > 0" class="elevation-1" :headers="headers" :items="filtered"
                :item-class="row_classes">

                <template v-slot:top>
                  <v-toolbar flat>
                    <v-toolbar-title>Denton County Hospital Stats</v-toolbar-title>
                  </v-toolbar>
                </template>

                <template v-slot:item.tsa="{ item }">
                  <v-chip :color="getColor(item.tsa)" :dark="getDark(item.tsa)">
                    {{ item.tsa }}
                  </v-chip>
                </template>

                <template v-slot:item.daily_covid_capacity="{ item }">
                  <v-progress-linear
                        color="indigo"
                        height="25"
                        :value="parseFloat(item.daily_covid_capacity.replace('%',''))"
                        dark
                      >
                      <span>{{item.icu_beds_occupancy_rate}}</span>
                    </v-progress-linear>
                </template>

                <template v-slot:item.icu_covid_rate="{ item }">
                  <v-progress-linear
                        color="indigo"
                        height="25"
                        :value="parseFloat(item.icu_covid_rate.replace('%',''))"
                        dark
                      >
                      <span>{{item.icu_covid_rate}}</span>
                    </v-progress-linear>
                </template>

                <template v-slot:item.ventilator_usage_rate="{ item }">
                  <v-progress-linear
                        color="indigo"
                        height="25"
                        :value="parseFloat(item.ventilator_usage_rate.replace('%',''))"
                        dark
                      >
                      <span>{{item.ventilator_usage_rate}}</span>
                    </v-progress-linear>
                </template>

              </v-data-table>

            </v-col>
          </v-row>
        </v-container>
      </v-main>

      <v-footer class="font-weight-medium">
        <v-col class="text-center" cols="12">
          <a href="https://gis-covid19-dentoncounty.hub.arcgis.com/pages/covid-19cases" target="_blank">Denton County
            Health Department</a>
        </v-col>
      </v-footer>

    </v-app>
  </div>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
        stats: [{
          objectid: 0,
          globalid: 0,
          report_date1: 0,
          report_date: 0,
          total_patients_in_hospitals: 0,
          total_available_beds: 0,
          total_occupancy_rate: 0,
          icu_total: 0,
          icu_beds_occupied: 0,
          icu_beds_available: 0,
          icu_beds_occupancy_rate: 0,
          ventilators_in_use: 0,
          ventilators_available: 0,
          ventilator_usage_rate: 0,
          total_confirmed_covid_19_census: 0,
          non_covid_hospitalizations: 0,
          icu_covid_19_census: 0,
          icu_non_covid_19_census: 0,
          icu_covid_rate: 0,
          covid_hospital_rate: 0,
          covid_hospital_rate_7day: 0,
          daily_covid_capacity: 0,
          Seven_day_COVID_Capacity: 0,
          tsa: 0,
          active: 0,
        }],
        tsaStats: [{
          covidPercent: "",
          date: 0,
          objectid: 0,
          tsa: "E",
        }],
        dentonCountyNewCases: [{
          report_date: "",
          caseCount: -1,
        }],
        countyWideStats: [{
          date: "",
          unixDate: 0,
          active: 0,
        }],
        dialog: true,
        headers: [
          { text: "Date", value: "report_date" },
          { text: "ICU Beds (% Occupied)", value: "icu_beds_occupancy_rate" },
          { text: "ICU Beds (% Covid)", value: "icu_covid_rate" },
          { text: "ICU Total", value: "icu_total" },
          { text: "ICU (Occupied)", value: "icu_beds_occupied" },
          { text: "ICU (Available)", value: "icu_beds_available" },
          { text: "ICU (Covid)", value: "icu_covid_19_census" },
          { text: "ICU (Non-Covid)", value: "icu_non_covid_19_census" },
          { text: "Vents (In Use)", value: "ventilators_in_use" },
          { text: "Vents (Avail)", value: "ventilators_available" },
          { text: "Vents (% In Use)", value: "ventilator_usage_rate" },
          { text: "Denton County (GA-32)", value: "daily_covid_capacity" },
          { text: "Active Cases", value: "active"},
          { text: "TSA E (GA-32)", value: "tsa" },
        ]
      }),
      mounted: function () {
        const _this = this

        _this.getHospitalizationStats()
        _this.getTraumaServiceAreaStats()
        _this.getDentonCountyNewCases()
        _this.getCountyWideStats()

        setInterval(function () {
          _this.getHospitalizationStats()
          _this.getTraumaServiceAreaStats()
          _this.getDentonCountyNewCases()
          _this.getCountyWideStats()
        }, (65 * 1000))

      },
      methods: {
        fetch: function (url = '', data = {}) {
          return fetch(url, {
            method: "GET",
          })
            .then(response => response.json())
        },
        getHospitalizationStats: function () {
          const _this = this
          const _url = "https://services.arcgis.com/oTsZYNubyv7xK5yP/ArcGIS/rest/services/C19_Hospital_Metrics_VIEW/FeatureServer/0/query?where=1%3D1&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&resultType=none&distance=0.0&units=esriSRUnit_Meter&returnGeodetic=false&outFields=*&returnGeometry=true&featureEncoding=esriDefault&multipatchOption=xyFootprint&maxAllowableOffset=&geometryPrecision=&outSR=4326&datumTransformation=&applyVCSProjection=false&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnExtentOnly=false&returnQueryGeometry=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&returnZ=false&returnM=false&returnExceededLimitFeatures=true&quantizationParameters=&sqlFormat=none&f=pjson&token="

          _this.fetch(_url)
            .then(data => {
              _this.stats = data.features.map(f => f.attributes)
            })
            .catch(error =>
              console.error(error)
            )
        },
        getDentonCountyNewCases: function () {
          const _this = this
          const _url = "https://services.arcgis.com/oTsZYNubyv7xK5yP/ArcGIS/rest/services/vDailyCaseCount_WFL1/FeatureServer/1/query?f=json&where=1=1&outfields=*&outSR=4326"

          _this.fetch(_url)
            .then(data => {
              _this.dentonCountyNewCases = data.features
                .map(f => f.attributes)
                .map(f => {
                  return {
                    report_date: _this.unixDatetimeToDate(f.DateOfObservationDateTime, "-"),
                    caseCount: f.CaseCount,
                  }
                })
            })
            .catch(error =>
              console.error(error)
            )
        },
        getCountyWideStats: function () {
          const _this = this
          const _url = "https://services.arcgis.com/oTsZYNubyv7xK5yP/ArcGIS/rest/services/COVIDDailyObservations_Hub/FeatureServer/1/query?f=pjson&where=1=1&outfields=*&outSR=4326"

          _this.fetch(_url)
            .then(data => {
              _this.countyWideStats = data.features
                .map(f => f.attributes)
                .map(f => {
                  return {
                    date: _this.unixDatetimeToDate(f.DateTimeOfObservation, "-"),
                    unixDate: f.DateTimeOfObservation,
                    active: f.Active,
                  }
                })
            })
            .catch(error =>
              console.error(error)
            )
        },
        getTraumaServiceAreaStats: function () {
          const _this = this
          const _url = "https://services5.arcgis.com/ACaLB9ifngzawspq/ArcGIS/rest/services/DSHS_COVID_Hospital_Data/FeatureServer/3/query?where=1%3D1&objectIds=&time=&resultType=none&outFields=*&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&sqlFormat=none&f=pjson&token="

          _this.fetch(_url)
            .then(data => {
              const _raw = data.features
                .map(f => f.attributes)
                .filter(t => t.TSA == 'E')
                .map(t => {
                  return {
                    covidPercent: t.COVIDPercent,
                    date: t.Date,
                    objectid: t.OBJECTID,
                    tsa: t.TSA,
                  }
                })
              _this.tsaStats = _raw
            })
            .catch(error =>
              console.error(error)
            )
        },
        row_classes: function (item) {
          const _this = this
          if (item.report_date == _this.latest.report_date) {
            return "yellow lighten-5"; //can also return multiple classes e.g ["orange","disabled"]
          }
        },
        getColor: function (val) {
          const _val = parseFloat(val.replace('%', ''))
          if (_val >= 15) return "red"
          else if (_val < 15 && _val > 14) return "yellow"
          else return "grey lighten-5"
        },
        getDark: function (val) {
          const _val = parseFloat(val.replace('%', ''))
          if (_val >= 15) return true
          else if (_val < 15 && _val > 14) return false
          else return false
        },
        unixDatetimeToDate: function (_unixDate, _separator) {
          const d = new Date(_unixDate)
          const s = _separator
          return d.getFullYear() + s + ((d.getMonth() + 1 < 10 ? '0' : '') + (d.getMonth() + 1)) + s + ((d.getDate() < 10 ? '0' : '') + d.getDate())
        },
        jsDatetimeToDate: function (_jsDate, _separator) {
          const d = _jsDate
          const s = _separator
          return d.getFullYear() + s + ((d.getMonth() + 1 < 10 ? '0' : '') + (d.getMonth() + 1)) + s + ((d.getDate() < 10 ? '0' : '') + d.getDate())
        },
        makeArrayOfDates: function () {
          Date.prototype.addDays = function (days) {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
          }

          function getDates(startDate, stopDate) {
            var dateArray = new Array();
            var currentDate = startDate;
            while (currentDate <= stopDate) {
              dateArray.push(new Date(currentDate));
              currentDate = currentDate.addDays(1);
            }
            return dateArray;
          }

          const _date1 = new Date().addDays(-30)
          const _date2 = new Date()

          let _dates = getDates(_date1, _date2)

          return _dates
        }
      },
      computed: {
        filtered: function () {
          const _this = this

          return _this.stats.map((s) => {

            const d = new Date(s.report_date)
            const _reportDate = _this.unixDatetimeToDate(s.report_date, "-") + ' (' + d.toDateString().substr(0, 3) + ')'

            const _tsa = _this.tsaStats.filter(t => {
              const a = _this.unixDatetimeToDate(s.report_date, "")
              const b = _this.unixDatetimeToDate(t.date, "")
              return a == b
            })

            const _countyWideStats = _this.countyWideStats.filter(t => {
              const a = _this.unixDatetimeToDate(s.report_date)
              const b = _this.unixDatetimeToDate(t.unixDate)
              return a == b
            })

            return {
              objectid: s.objectid,
              globalid: s.globalid,
              report_date1: s.report_date,
              report_date: _reportDate,
              total_patients_in_hospitals: s.total_patients_in_hospitals,
              total_available_beds: s.total_available_beds,
              total_occupancy_rate: s.total_occupancy_rate,
              icu_total: parseInt(s.icu_beds_occupied) + parseInt(s.icu_beds_available),
              icu_beds_occupied: s.icu_beds_occupied,
              icu_beds_available: s.icu_beds_available,
              icu_beds_occupancy_rate: s.icu_beds_occupancy_rate.toFixed(1) + '%',
              ventilators_in_use: s.ventilators_in_use,
              ventilators_available: s.ventilators_available,
              ventilator_usage_rate: s.ventilator_usage_rate.toFixed(1) + '%',
              total_confirmed_covid_19_census: s.total_confirmed_covid_19_census,
              non_covid_hospitalizations: s.non_covid_hospitalizations,
              icu_covid_19_census: s.icu_covid_19_census,
              icu_non_covid_19_census: s.icu_non_covid_19_census,
              icu_covid_rate: (s.icu_covid_19_census / (s.icu_covid_19_census + s.icu_non_covid_19_census) * 100).toFixed(1) + '%',
              covid_hospital_rate: (s.covid_hospital_rate * 100).toFixed(1) + '%',
              covid_hospital_rate_7day: s.covid_hospital_rate_7day,
              daily_covid_capacity: (s.Daily_COVID_Capacity * 100).toFixed(1) + '%',
              Seven_day_COVID_Capacity: s.Seven_day_COVID_Capacity,
              tsa: (_tsa.length > 0 ? (_tsa[0].covidPercent * 100).toFixed(1) + '%' : 'No Data'),
              active: (_countyWideStats.length > 0 ? _countyWideStats[0].active.toLocaleString() : 0),
            }
          }).sort((a, b) => {
            return b.report_date1 - a.report_date1
          })
        },
       
        latest: function () {
          const _this = this
          return _this.filtered[0]
        },
        latestDentonCountyNewCases: function () {
          const _this = this
          const _records = _this.dentonCountyNewCases.length
          return _this.dentonCountyNewCases[_records - 1]
        },
        previousDentonCountyNewCases: function () {
          const _this = this
          const _records = _this.dentonCountyNewCases.length
          return _this.dentonCountyNewCases[_records - 2]
        },
        latestDentonCountyActiveCases: function(){
          const _this = this
          let _val = ''
          if (_this.countyWideStats.length > 1){
            const _records = _this.countyWideStats.filter(t => parseInt(t.active) > 0)
            const _latest = _records[_records.length - 1]
            _val =  parseInt(_latest.active)
          }else{
            _val = 0
          }
          return _val.toLocaleString()
        }
      },
      watch: {
        stats: function (val) {
          if (!val) return
          this.dialog = (val.length > 0 ? false : true)
        },
      },
    })
  </script>
</body>

</html>
