<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badge</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.3.13/vuetify.min.css" />

    <script src="./scripts/vue.js"></script>
    <script src="./scripts/vuetify.js"></script>

    <style type="text/css">
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <v-app>
        <v-app-bar hide-on-scroll class="green darken-2 white--text" app>
          <v-toolbar-title> Badges &nbsp; ({{badges.length}})</v-toolbar-title>
        </v-app-bar>

        <v-main class="grey lighten-3 pl-4 pr-4">
          <v-container fluid>
            <v-row v-for="badge in badges" v-if="badges.length > 0">
              <v-col>
                <v-card class="mx-auto" max-width="344">
                  <v-img :src="getBadgeImageUrl(badge)" height="200px"></v-img>

                  <v-card-title> {{badge.storedisplayname2}} {{badge.itemid}} </v-card-title>

                  <v-card-actions>
                    <v-btn color="orange lighten-2" text @click="badge_selected = badge; badge.showrequirements = !badge.showrequirements"> Explore </v-btn>

                    <v-spacer></v-spacer>

                    <v-btn text icon color="red lighten-2" @click="badge_selected = badge; badge.showrequirements = !badge.showrequirements">
                      <v-icon v-if="!badge.showrequirements">mdi-chevron-down</v-icon>
                      <v-icon v-else>mdi-chevron-up</v-icon>
                    </v-btn>
                  </v-card-actions>

                  <v-expand-transition>
                    <div v-show="badge.showrequirements">
                      <v-divider></v-divider>

                      <v-card-text v-html="badge_requirements"></v-card-text>
                    </div>
                  </v-expand-transition>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-main>
      </v-app>
    </div>

    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: () => ({
          badges: [],
          badge_selected: {},
          badge_requirements: "test",
          show: false,
        }),
        mounted: function () {
          this.getBadges();
        },
        methods: {
          get(url = "") {
            return fetch(url, {
              method: "GET",
            }).then((response) => response.json());
          },
          fetchJSONP(url, callbackName) {
            const _this = this;
            // 1. Create the callback function

            window[callbackName] = (data) => {
              // Handle the response data here
              _this[callbackName](data);

              // Cleanup
              document.body.removeChild(script);
              //delete window[callbackName];
            };

            // 2. Construct the URL with the callback parameter
            url += (url.indexOf("?") === -1 ? "?" : "&") + "callback=" + callbackName;

            // 3. Create a script tag and insert it into the document
            const script = document.createElement("script");
            script.src = url;
            document.body.appendChild(script);
          },
          jsonpCallback_SetBadges(data) {
            const _this = this;
            const fetchResults = data.items.map((d) => {
              return {
                ...d,
                showrequirements: false,
              };
            });
            this.badges.push(...fetchResults);

            // Check for the 'next' link in the links array
            const nextLink = data.links && data.links.find((link) => link.rel === "next");
            if (nextLink && nextLink.href) {
              // Fetch the next set of data
              return _this.getBadges(nextLink.href);
            } else {
              // Return when there's no more data to fetch
              return _this.badges;
            }
          },
          jsonpCallback_SetBadgeRequirements(data) {
            this.badge_requirements = data.items[0].storedescription2;
          },
          getBadges(url) {
            const beginningUrl =
              "https://www.girlscoutshop.com/api/items?c=317771&country=US&currency=USD&fieldset=details&include=&language=en&n=7&pricelevel=7&use_pcv=F&commercecategoryurl=%2Fbadges-program%2Fall-badges-pins&limit=100";
            const badgesUrl = url || beginningUrl;
            console.log("getBadges", url);
            this.fetchJSONP(badgesUrl, "jsonpCallback_SetBadges");
          },
          getBadgeImageUrl(badge) {
            if (badge.itemimages_detail?.main?.["01.default"]) {
              const imageUrl = badge.itemimages_detail.main["01.default"].url;

              return imageUrl;
            } else {
              return "";
            }
          },
          getBadgeRequirments(badge) {
            const urlcomponent = badge.urlcomponent;
            this.fetchJSONP(
              "https://www.girlscoutshop.com/api/items?c=317771&country=US&currency=USD&fieldset=details&include=&language=en&n=7&pricelevel=7&url=" +
                urlcomponent +
                "&use_pcv=F",
              "jsonpCallback_SetBadgeRequirements"
            );
          },
        },
        computed: {},
        watch: {
          badge_selected(val) {
            this.getBadgeRequirments(val);
          },
        },
      });
    </script>
  </body>
</html>
